---
title: dillon o'connor
---

<section class="hero is-bold mt-5">
  <div class="hero-body">
    <p class="title fira">
      I design and implement scalable, data-driven web applications
    </p>
    <p class="subtitle is-4 has-text-grey">
      and I'm fluent in <span class="has-text-danger">Ruby</span>, 
                        <span class="has-text-warning">HTML</span>,
                        <span class="has-text-info">CSS</span>,
                        <span class="has-text-primary">JavaScript</span>,
                        and Chinese (😃)
    </p>   
  </div>
</section>

<section class="mt-5">
  <p class="is-size-4">Featured Projects</p>
  <%= partial "layouts/card", locals: {
      image: "music.svg",
      title: "OST",
      description: "A user-driven database of original soundtracks (OSTs) from popular Asian dramas. Includes social
		    features, e.g. likes/comments, and Spotify integration (via the API). Built with Rails, Turbo, and Bulma.",
      project_link: "https://ancient-forest-35389.herokuapp.com/" } %>
  
  <%= partial "layouts/card", locals: {
      image: "forest.svg",
      title: "AQI",
      description: "An Air Quality Index (AQI) monitoring tool, powered by data from the World Air Quality Index project.
		    Extends existing resources with additional data visualization. Built with Rails, PostgreSQL, Chartkick, 
		    and Tailwind.",
      project_link: "https://fathomless-retreat-37870.herokuapp.com/" } %>
  <%= partial "layouts/card", locals: {
      image: "dictionary.svg",
      title: "CD",
      description: "A simple Chinese-English dictionary based on CC-CEDICT. Built with Rails, PostgreSQL, 
		    Textacular, Sidekiq, Bulma, and Regex magic.",
      project_link: "https://morning-oasis-87823.herokuapp.com/" } %>
<section>

<section class="mt-6">
    <p class="is-size-4">Toolbox</p>
    <article class="box mt-5 p-5">
      <%= partial '/layouts/tags', locals: {
                                            title: "Back End", 
                                            tags: ["Ruby on Rails", "Node.js"] } %>

      <%= partial '/layouts/tags', locals: {
                                            title: "Front End", 
                                            tags: ["React & Redux", "TailwindCSS", "Bulma", "Bootstrap", "Sass"] } %>

      <%= partial '/layouts/tags', locals: {
                                            title: "Databases", 
                                            tags:  ["PostgreSQL & ActiveRecord", "Redis", "MongoDB & Mongoose"] } %>    

      <%= partial '/layouts/tags', locals: {
                                            title: "Testing", 
                                            tags: ["RSpec", "minitest", "Capybara"] } %>

      <%= partial '/layouts/tags', locals: {
                                            title: "Other", 
                                            tags: ["Linux", "Git", "Heroku", "DigitalOcean"] } %>
    </article>
</section>
