---
title: dillon o'connor
---

<section class="hero is-bold mt-5">
  <div class="hero-body">
    <p class="title fira">
      I design and implement scalable, data-driven web applications
    </p>
    <p class="subtitle is-4 has-text-grey">
      and I'm fluent in <span class="has-text-danger">Ruby</span>, 
                        <span class="has-text-warning">HTML</span>,
                        <span class="has-text-info">CSS</span>,
                        <span class="has-text-primary">JavaScript</span>,
                        and Chinese (😃)
    </p>   
  </div>
</section>

<section class="mt-5 columns">
  <article class="mt-5 column is-two-thirds">
    <p class="is-size-4">Toolbox</p>
    <div class="mt-5 tags are-medium">
    <% ["Ruby on Rails", "SQL & ActiveRecord", "RSpec & Capybara", "MongoDB & Mongoose",
    "Node.js & Express", "React & Redux", "Sass", "TailwindCSS", "Bulma", "Bootstrap"].each do |i| %>
      <span class="tag is-dark"><%= i %></span>
    <% end %>
    </div>
  </article>
</section>

<section class="mt-5">
  <p class="is-size-4">Featured Projects</p>
  <article class="card mt-5">
    <div class="card-image is-flex-mobile is-justify-content-center is-hidden-tablet">
      <figure class="m-5 image is-256x256">
        <%= image_tag "music.svg" %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media is-align-items-center">
        <div class="media-left is-hidden-mobile">
          <figure class="image">
            <%= image_tag "music.svg" %>
          </figure>
        </div>
        <div class="media-content p-3">
          <p class="title fira is-2">OST</p>
          <p>
            A user-driven database of original soundtracks (OSTs) from popular Asian dramas. 
            Built with Rails, Bulma, and the Spotify API (via RSpotify). Features:
          </p>
            <div class="content">
              <ul>
                <li>Add and view Spotify playlists</li>
                <li>Like and follow playlists</li>
                <li>Listen on Spotify or YouTube</li>
              </ul>
            </div>
            <div class="is-flex is-justify-content-space-between is-align-items-center mt-5">
              <p class="is-italic is-size-7">Please be patient as the Heroku dyno spins up--thank you!</p>
              <%= link_to "Check It Out", "https://ancient-forest-35389.herokuapp.com/", class: "button is-success" %>
            </div>
        </div>
      </div>
    </div>
  </article>
  <article class="card mt-5">
    <div class="card-image is-flex-mobile is-justify-content-center is-hidden-tablet">
      <figure class="m-5 image is-256x256">
        <%= image_tag "forest.svg" %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media is-align-items-center">
        <div class="media-left is-hidden-mobile">
          <figure class="image">
            <%= image_tag "forest.svg" %>
          </figure>
        </div>
        <div class="media-content p-3">
          <p class="title fira is-2">AQI</p>
          <p>
            An Air Quality Index (AQI) monitoring tool, powered by data from the World Air Quality Index project.
            Extends existing resources with additional data visualization. Built with Rails, PostgreSQL, Chartkick, 
            and Tailwind.
          </p>
          <div class="is-flex is-justify-content-space-between is-align-items-center mt-5">
            <p class="is-italic is-size-7">Please be patient as the Heroku dyno spins up--thank you!</p>
            <%= link_to "Check It Out", "https://fathomless-retreat-37870.herokuapp.com/", class: "button is-success" %>
          </div>
      </div>
    </div>
  </article>
  <article class="card mt-5">
    <div class="card-image is-flex-mobile is-justify-content-center is-hidden-tablet">
      <figure class="m-5 image is-256x256">
        <%= image_tag "dictionary.svg" %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media is-align-items-center">
        <div class="media-left is-hidden-mobile">
          <figure class="image">
            <%= image_tag "dictionary.svg" %>
          </figure>
        </div>
        <div class="media-content p-3">
          <p class="title fira is-2">CD</p>
          <p>
            A simple Chinese-English dictionary based on CC-CEDICT. Currently built with Rails, PostgreSQL, 
            Textacular, Bulma, and Regex magic. Upgrades planned to finetune search accuracy.
          </p>
          <div class="is-flex is-justify-content-space-between is-align-items-center mt-5">
            <p class="is-italic is-size-7">Please be patient as the Heroku dyno spins up--thank you!</p>
            <%= link_to "Check It Out", "https://morning-oasis-87823.herokuapp.com/", class: "button is-success" %>
          </div>
        </div>
      </div>
    </div>
  </article>
<section>
